DATABASE_URL=database.sqlite

JWT_SECRET=secret

MAILER_ADDRESS=smtp.test.com
MAILER_PORT=465
MAILER_EMAIL=info@langkeeper.tortitas.eu
MAILER_USERNAME=info@langkeeper.tortitas.eu
MAILER_PASSWORD=secret
