<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Langkeeper</title>
    <meta
      name="description"
      content="Keep track of the time you spend programming."
    />
    <link rel="manifest" href="manifest.json" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="htmx.min.js"></script>
  </head>
  <body>
    <main class="page--dashboard">
      <h1>Dashboard</h1>

      <hr />

      <section class="page--dashboard__widgets">
        <section class="page--dashboard__widget page--dashboard__widget--stats">
          <h2>This week's statistics</h2>
          <h3>Nice work!</h3>

          <ul
            hx-get="/htmx/languages/stats_weekly"
            hx-trigger="load"
            hx-swap="outerHTML"
          ></ul>
        </section>

        <section class="page--dashboard__widget page--dashboard__widget--stats">
          <h2>Last statistics</h2>
          <h3>
            You have been coding for a total of
            <span
              hx-get="/htmx/languages/total-time"
              hx-trigger="load"
              hx-swap="outerHTML"
              >0</span
            >
          </h3>

          <ul
            hx-get="/htmx/languages/stats"
            hx-trigger="load"
            hx-swap="outerHTML"
          ></ul>
        </section>
      </section>

      <section class="page--dashboard__guide">
        <a href="/guide"> Feeling lost? Check out the guide </a>
      </section>
    </main>
  </body>
</html>
